<div class="title">
  <h1>Your Posts</h1>
  <button class="del" (click)="deleteAll()">Delete All</button>
</div>
<div class="container">
  <div class="card" *ngFor="let el of posts">
    <div class="subject">{{ el.subject }}</div>
    <div class="from">From: {{ el.from }}</div>
    <div class="body">{{ el.body }}</div>
    <!-- <div class="reaction">{{ el.reactCount }}</div> -->
    <div class="time">{{ el.createdAt | date : "medium" }}</div>
  </div>
</div>
<div *ngIf="posts.length === 0" class="emp">Empty</div>
